<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Afpétit</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Bon Afpétit ! </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRight" aria-controls="navbarRight" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarRight">
            <ul class="navbar-nav ml-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-info text-light" href="@Url.Action("View","Home")" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-shopping-basket mx-2"></i>
                        <span id="badgepanier" class="">0,00 Eur.</span>
                    </a>
                    <div id="dropdown" class="dropdown-menu dropdown-menu-right">
                        <span id="spandropdown"></span>
                        <div class='text-center'><button id='btncommande' class='btn btn-primary'>Commander</button></div>
                    </div>

                </div>
                @{
                    string isConnected = "";
                    if (Session["Utilisateur"] != null)
                    {
                        Afpetit.Models.Utilisateur utilisateur = (Afpetit.Models.Utilisateur)Session["Utilisateur"];
                        if (utilisateur != null)
                        {
                            isConnected = "true";
                                <span class="nav-item">
                                    @Html.ActionLink(@utilisateur.Nom + " " + @utilisateur.Prenom, "Deconnexion", "Utilisateurs", null, new { @class = "btn btn-outline-secondary" })                                    
                                </span>
                        }
                    }
                    else
                    {
                        isConnected = "false";
                        <li class="nav-item">
                            @Html.ActionLink("Connexion", "Connexion", "Utilisateurs", null, new { @class = "nav-link" })
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>

    <div id="ModalLogin" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Se connecter</h3>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                @using (Html.BeginForm("Connexion", "Utilisateurs", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="row-fluid">
                            <div class="form-group">
                                <label for="Matricule">Matricule</label>
                                @Html.TextBox("Matricule", null, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                @Html.TextBox("Password", null, new { @class = "form-control" })
                            </div>
                            <button id="btnConnexion" class="btn btn-primary">Connection</button>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>


    @RenderSection("entete", required: false)
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bon AFPétit</p>
        </footer>
    </div>
    <div id="error"></div>

    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">


        $(document).ready(function () {
            /////////////////Autocomplete/////////////////////////////
            $('#recherche').autocomplete({
                minLength:2,   
                delay:500,
                source: function (request, response) {
                    $.ajax({
                        url: "/Sw/GetRestaurants",
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({ 'search': request.term}),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                var obj;
                                return  obj = {
                                    label: item.Nom,
                                    value: item.Nom,
                                    id : item.Id
                                }; 
                            }));
                        },
                        error: function (response) {
                            $("#error").html("Error"+response.responseText);
                        },
                        failure: function (response) {
                             $("#error").html("failure"+response.responseText);
                        }
                    });
                },
                select: function (event, data) {
                    console.log(data.item);
                    $('#IdRestaurant').val(data.item.id);
                }
            });
            ////////////////Detail Description Restaurant /////////////////
            $("#voirplus").click(function () {
                if ($("#description").attr("class") == '') {
                    $("#description").attr("class", "flex-child");
                    $("#voirplus").html("Voir plus ...");
                } else {
                    $("#description").attr("class", "");
                    $("#voirplus").html("Réduire");
                }
            });
            
            ////////////////////////////PANIER /////////////////////////////////
            // lorsque l'on passe la souris sur le btn panier
            $("#navbardrop").hover(function () {
                
                $("#dropdown").dropdown('show');
            });
            //Masquer la DropDown dés que l'on sort de celle ci
            $("#dropdown").mouseleave(function () {
                $("#dropdown").dropdown('hide');
            });
            // Redirection au clic sur le btn panier
            $("#navbardrop").click(function () {
                window.location.href = '@Url.Action("Panier","Home")';
            });

            //Clic sur le btn commander dans le panier
            $(".btnCommander").click(function () {
                if (@isConnected) {
                    let data = { 's': '@Afpetit.Utilities.Cryptage.Encrypt(Session.SessionID)' };
                    console.log(data);
                    callCommandeSW(data);
                } else {
                    $("#ModalLogin").modal('show');
                }
            });

            //Clic Connexion dans modal connexion
            @*$("#btnConnexion").click(function () {
                let login = $("#Matricule").val();
                let password = $("#Password").val();
                let data = { 's': '@Afpetit.Utilities.Cryptage.Encrypt(Session.SessionID)','p': ''+password+'','l': ''+login+'' };
                LoginPasswordSW(data);
            });*@
            //////////////////////////FIN Panier /////////////////////////////

            // Fonction pour appeler le SW commande.
            function callCommandeSW(data) {
            // permet de preparer le JSON.stringify
                $.ajax({
                    //Appel en AJAX du Service Web
                    url: '@Url.Action("SaveCommande","Sw")',
                    // Methode de connexion en GET
                    type: 'POST',
                    // Formatage au format JSON des data envoyées
                    data: JSON.stringify(data),
                    // Data que l'on souhaite envoyé
                    contentType: 'application/json; charset=utf-8',
                    // Type de Donnees Attendu : JSON
                    datatype: 'JSON',
                    // En cas de succes de l'appel alors
                    success: function (data) {
                        alert("Commande validé"+data);
                    },
                    error: function () {
                        // En cas d'erreur on affiche une fenetre d'alerte
                        alert("Error callCommande !");
                    }
                });
            }
        });
    </script>
</body>
</html>
