<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="@Url.Action("Index","Home")">Bon Afpétit ! </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRight" aria-controls="navbarRight" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarRight">
        <ul class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-info text-light" href="@Url.Action("View","Home")" id="navbardrop" data-toggle="dropdown">
                    <i class="fa fa-shopping-basket mx-2"></i>
                    <span id="badgepanier" class="">0,00 Eur.</span>
                </a>
                <div id="dropdown" class="dropdown-menu">
                    <span id="spandropdown"></span>
                    <div class='text-center'><button id='btncommande' class='btn btn-primary'>Commander</button></div>
                </div>

            </div>
            @{
                string isConnected = "";
                if (Session["utilisateur"] != null)
                {
                    Afpetit.Models.Utilisateur utilisateur = (Afpetit.Models.Utilisateur)Session["utilisateur"];
                    if (utilisateur != null)
                    {
                        isConnected = "true";
                        <span class="navbar-text">
                            @utilisateur.Nom @utilisateur.Prenom
                        </span>
                    }
                }
                else
                {
                    isConnected = "false";
                    <li class="nav-item">
                        @Html.ActionLink("Connexion", "Connexion", "Utilisateurs", null, new { @class = "nav-link" })
                    </li>
                }
            }
        </ul>
    </div>
</nav>
