@model Afpetit.Models.Restaurant

@{
    List<Afpetit.Models.Restaurant> restaurants = ViewBag.restaurants;
    List<Afpetit.Models.TypeCuisine> typeCuisines = ViewBag.typeCuisine;
}

<ul class="nav nav-tabs w-100 pt-3" role="tablist">
    <li class="nav-item w-50">
        <a class="nav-link active" data-toggle="tab" href="#typeCuine" role="tab" aria-controls="typeCuine" aria-selected="true">Par Type de Cuisne</a>
    </li>
    <li class="nav-item w-50">
        <a class="nav-link" data-toggle="tab" href="#restaurant" role="tab" aria-controls="restaurant" aria-selected="false">Par Restaurant</a>
    </li>
</ul>
<div class="tab-content mt-3" style="background-color : #ededed">
    <div class="tab-pane active" id="typeCuine" role="tabpanel" aria-labelledby="typeCuine-tab" style="height:100%">
        <ul class="list-group">
            @{
                foreach (Afpetit.Models.TypeCuisine typeCuisine in typeCuisines)
                {
                    if (typeCuisine.Restaurants.Count >= 0)
                    {
                        <a class="rounded text-dark" href="@Url.Action("Index","Restaurants",new { @IdTypeCuisine = typeCuisine.IdTypeCuisine })">
                            <div class="card bg-light w-100">
                                <div class="flex-column col-12">
                                    <h3>@typeCuisine.Nom</h3>
                                </div>
                                <div class="imagebandeau rounded my-1" style="background-image: url(..@typeCuisine.Photos.First().Url);"></div>
                            </div>
                        </a>
                    }
                }
            }
        </ul>
    </div>
    <div class="tab-pane" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
        <ul class="list-group">
            @{
                foreach (Afpetit.Models.Restaurant restaurant in restaurants)
                {
                        <a href="@Url.Action("Details","Restaurants", new { @Id = restaurant.IdRestaurant })" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div class="card bg-light w-100">
                                <div class="flex-column col-12">
                                    <h3>@restaurant.Nom <span class="badge badge-light text-black-50">@restaurant.CodePostal @restaurant.Ville</span> </h3>
                                </div>
                                <div class="imagebandeau rounded my-1" style="background-image: url(..@restaurant.Photos.First().Url);"></div>
                                <div class="flex-column col-12">                                    
                                    <p class="flex-child"><small>@restaurant.Description</small></p>
                                    <span class="badge badge-info badge-pill"> Note des avis (un jour peut etre)</span>
                                </div>
                            </div>
                        </a>
                }
            }

        </ul>
    </div>
</div>
