@model Afpetit.Models.Produit

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutResto.cshtml";
}
<div class="card-heading"></div>
<div class="card-body">
    <h2 class="title">Ajouter un produit</h2>
    @using (Html.BeginForm("Create", "Produits", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("IdRestaurant", (int)ViewBag.IdRestaurant)
        <div class="input-group">
            @Html.DropDownList("IdCategorie", null, "Selectionner la catégorie", htmlAttributes: new { @class = "form-control col-12" })
        </div>
        <div class="input-group">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "input--style-2 col-12", @placeholder = "Nom" } })
        </div>
        <div class="input-group">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "input--style-2 col-12", @placeholder = "Description" } })
        </div>
        <div class="input-group">
            @Html.EditorFor(model => model.Prix, new { htmlAttributes = new { @class = "input--style-2 col-12", @placeholder = "Prix" } })
        </div>
        <div class="input-group">
            @Html.EditorFor(model => model.Quantite, new { htmlAttributes = new { @class = "input--style-2 col-12", @placeholder = "Production Journalière" } })
        </div>
        <div class="input-group">
            <input type="file" id="files" name="files" required multiple="multiple" />
        </div>
        <div class="p-t-30">
            <button class="btn btn--radius btn--green" type="submit">Ajouter</button>
            <a class="btn btn--radius btn--red" href="@Url.Action("Index","Produits")">Retour</a>
        </div>
    }
</div>
