@model Afpetit.Models.ProduitViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutResto.cshtml";
}

<h2 class="pt-3">Mes Produits</h2>

@foreach (var item in Model.PaginatedProduits())
{
    <div class="row col-12 align-items-center py-2">
        <div class="col-2">
            <img class="img-fluid" src="@item.Photos.FirstOrDefault().Url" />
        </div>
        <div class="col-6">
            <div class="col-12">
                <strong>@Html.DisplayFor(modelItem => item.Nom)</strong> - @Html.DisplayFor(modelItem => item.Categorie.Nom)
            </div>
            <div class="col-12">
                @Html.DisplayFor(modelItem => item.Description)
            </div>

        </div>
        <div class="col-2">
            <div class="col-12">
                Prix : <strong>@Html.DisplayFor(modelItem => item.Prix)</strong> €
            </div>
            <div class="col-12">
                Dispo. : <strong>@Html.DisplayFor(modelItem => item.Quantite)</strong>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-6">
                @if (item.Statut)
                {
                    <a href="@Url.Action("Statut","Produits", new { @id=item.IdProduit })"><i class="fa fa-check" aria-hidden="true" style="color:lightgreen"></i></a>
                }
                else
                {
                    <a href="@Url.Action("Statut","Produits", new { @id=item.IdProduit })"><i class="fa fa-close" aria-hidden="true" style="color:red"></i></a>
                }
            </div>
            <div class="row col-6">
                @Html.ActionLink("Details", "Details", new { id = item.IdProduit }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}
<ul class="pagination">
    @for (int i = 1; i <= Model.PageCount(); i++)
    {
        <li class="@(i == Model.PageCourante ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
        </li>

    }
</ul>

<div><a href="@Url.Action("Create","Produits")" class="btn btn-success col-12">Nouveau Produit</a></div>