@model Afpetit.Models.Restaurant

@{
    ViewBag.Title = "DetailsRestaurant";
    Layout = "~/Views/Shared/_LayoutResto.cshtml";
}
<div class="pt-2 mt-2">
    <h4>@Html.DisplayFor(model => model.Nom) <small class="text-muted"> - <strong>Login : </strong>@Html.DisplayFor(model => model.Login)</small></h4>
    <hr />
    <div>
        <div class="col-12 row" id="coordonnees">
            <div class="col-6 row" id="adresse">
                <div class="pr-3"><i class="fa  fa-map-marker" aria-hidden="true"></i></div>
                <div>
                    <p><strong>Adresse : </strong></p>
                    @Html.DisplayFor(model => model.Adresse) </br>
                    @Html.DisplayFor(model => model.CodePostal) @Html.DisplayFor(model => model.Ville)
                </div>
            </div>
            <div class="col-6 row" id="telephone">
                <div class="pr-3"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></div>
                <div>
                    <p><strong>Telephone : </strong></p>
                    <p>
                        @Html.DisplayFor(model => model.Mobile) </br>
                        @Html.DisplayFor(model => model.Telephone)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12" id="description">
            <strong>@Html.DisplayNameFor(model => model.Description) : </strong> </br>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>
<hr />
<div>@Html.ActionLink("Edit", "Edit", new { id = Model.IdRestaurant }, new { @class = "btn btn-success col-12" })</div>
<div class="pt-1">@Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-info col-12" })</div>


